<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
<h1 class="mt-2"><b>Envoyez votre Demande</b></h1>
</div>
</div>
</div>
<%= render 'form', declaration: @declaration %>

<%= link_to 'Back', declarations_path %>
